<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv='Content-Type' content='text/html;charset=utf-8'></meta>
  <link rel='stylesheet' type='text/css' href='https://www.x3dom.org/x3dom/release/x3dom.css'></link>
  <script type='text/javascript' src='https://www.x3dom.org/x3dom/release/x3dom.js'></script>

</head>

<body>
  <div id="main_3d_image">
    <x3d id="costa">
      <scene>
          <inline nameSpaceName="model" mapDEFToID="true" onclick="wireframe('costa');" url="costa.x3d"> </inline>
      </scene>
    </x3d>
    <x3d id="oasis">
      <scene>
          <inline nameSpaceName="model" mapDEFToID="true" onclick="wireframe('oasis');" url="oasis.x3d"> </inline>
      </scene>
    </x3d>
    <x3d id="lilt">
      <scene>
          <inline nameSpaceName="model" mapDEFToID="true" onclick="wireframe('lilt');" url="lilt.x3d"> </inline>
      </scene>
    </x3d>
  </div>
  <!-- Javascript jQuery, Popper, then Bootstrap JS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  <script src="wireframe.js"></script>
</body>
</html>

